<header>
  <div class="EncabezadoHeader">
    <div class="imgLogoEncabezado"> <img class='imgLogo' src="images/logo-mercado-liebre.svg" /></div>
    <div class="buscadoConLupa"><input class='buscador' type="text" placeholder=" Buscar productos, marcas"
        name="search"><i id='iconBuscar' class="fa-solid fa-magnifying-glass"></i></div>
    <div class="CompraEnCuotas2">
      <h4 class="CompraEnCuotas"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de
        crédito</h4>
    </div>
  </div>
  <nav class="QuitarListas">
    <ul>
      <li><a href=''>Ofertas</a></li>
      <li><a href=''>Tiendas Oficiales</a></li>
      <li><a href=''>Vender</a></li>
      <li><a href=''>Ayuda</a></li>
    </ul>
    <ul>
      <li><a href='/register'>Creá tu cuenta </a><i class="fa-solid fa-id-card"></i></li>
      <li><a href='/login'>Ingresá </a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
      <li><a href=''>Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
    </ul>
    <div id="menuBurger">
      <a class="Burger" href="/"><i class="fa-solid fa-bars"></i></a>
    </div>

  </nav>



</header>