<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
<body>
  <%- include ('./partials/header') %>
    <main>
      <img class="imgLogo2" src="images/img-home-banner.jpg" />
        <section class="EncabezadoProductos">
            <h3>Basado en tu última visita</h3>
          <div class="producto">
            <img src="images/img-cafetera-moulinex.jpg">
            <div class="textoDeProducto"><i class="fa-solid fa-truck"></i>
          <div class="AplicarFlexBox">
            <p class="precios">$6.770</p>
            <p class="Descuentos">40% off</p>
          </div>
            <p class="Descripciones">Cafetera Moulinex</p>
            </div>
          </div>
          <div class="producto">
            <img src="images/img-macbook-pro-2019.jpg">
            <div class="textoDeProducto"></div><i class="fa-solid fa-truck"></i>
            <div class="AplicarFlexBox">
              <p class="precios"> $230.000</p>
              <p class="Descuentos">20% off</p>
            </div>
            <p class="Descripciones">MacBook Pro 2019</p>
          </div>
          </div>

        <div class="producto">
            <img src="images/img-samsung-galaxy-s10.jpg">
            <div class="textoDeProducto"></div><i class="fa-solid fa-truck"></i>
            <div class="AplicarFlexBox">
            <p class="precios">$70.500</p>
            <p class="Descuentos">10% off</p>
        </div>
            <p class="Descripciones">Samsung Galaxy S10</p>
        </div>
    </div>

        <div class="producto">
            <img src="images/img-tv-samsung-smart.jpg">
            <div class="textoDeProducto"></div><i class="fa-solid fa-truck"></i>
            <div class="AplicarFlexBox">
            <p class="precios">$23.200</p>
            <p class="Descuentos">5% off</p>
        </div>
            <p class="Descripciones">SmartTv Samsung 43"</p>
        </div>
    </div>

        </section>
        <section class="EncabezadoProductos">
            <h3>Ofertas</h3>
        <div class="producto">
            <img src="images/img-cafetera-moulinex.jpg">
            <div class="textoDeProducto"></div><i class="fa-solid fa-truck"></i>
            <div class="AplicarFlexBox">
            <p class="precios">$6.770</p>
            <p class="Descuentos">40% off</p>
        </div>
            <p class="Descripciones">Cafetera Moulinex</p>
        </div>
    </div>

        <div class="producto">
            <img src="images/img-macbook-pro-2019.jpg">
            <div class="textoDeProducto"></div><i class="fa-solid fa-truck"></i>
            <div class="AplicarFlexBox">
            <p class="precios">$230.000</p>
            <p class="Descuentos">20% off</p>
        </div>
            <p class="Descripciones">MacBook Pro 2019</p>
        </div>
    </div>
            
        <div class="producto">
            <img src="images/img-samsung-galaxy-s10.jpg">
            <div class="textoDeProducto"></div><i class="fa-solid fa-truck"></i>
            <div class="AplicarFlexBox">
            <p class="precios">$70.500</p>
            <p class="Descuentos">10% off</p>
        </div>
            <p class="Descripciones">Samsung Galaxy S10</p>
        </div>
    </div>

        <div class="producto">
            <img src="images/img-tv-samsung-smart.jpg">
            <div class="textoDeProducto"></div><i class="fa-solid fa-truck"></i>
            <div class="AplicarFlexBox">
            <p class="precios">$23.200</p>
            <p class="Descuentos">5% off</p>
        </div>
            <p class="Descripciones">SmartTv Samsung 43"</p>
        </div>
    </div>
        </section>
        <%- include ('./partials/footer') %>
    </main>
</body>
</html>