<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2a74e9078e.js" crossorigin="anonymous"></script>
    <title>Mercado liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
     <img class='imgLogo' src="images/logo-mercado-liebre.svg" />
     <p> </p>
     <input class='buscador' type="text" placeholder=" Buscar productos, marcas" name="search" >
     <a href=""><i id="iconBuscar" class="fas fa-search"></i></a>

      
     <h4 class="CompraEnCuotas"><i class="fas fa-hand-holding-usd"></i>  Comprá en cuotas y sin tarjeta de crédito</h4>
     <nav class="QuitarListas">
        <ul>
            <li><a href = '#'>Ofertas</a></li>
            <li><a href = '#'>Tiendas Oficiales</a></li>
            <li><a href = '#'>Vender</a></li>
            <li><a href = '#'>Ayuda</a></li>
        </ul>
        <ul>
            <li><a href = '/register'>Creá tu cuenta </a><i class="far fa-id-card"></i></li>
            <li><a href = '/login'>Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href = '#'>Mis compras </a><i class="fas fa-shopping-basket"></i></li>
        </ul>
        <div id="menuBurger">
            <a class="Burger" href="/"><i class="fas fa-bars"></i></a>
        </div>
        <br></br>
        
     </nav>
    </header>
    <main>
        <form action="/">
        <p>
            <label>Nombre y Apellido:</label>
            <input type="text" name="nombre" placeholder="Ingresá tu nombre y apellido">
        </p>
        <p>
            <label>Nombre de usuario:</label>
            <input type="text" name="usuario" placeholder="Ingresá tu id de usuario">
        </p>
        <p>
            <label>E-mail:</label>
            <input type="email" name="email" placeholder="Ingresá tu E-mail">
        </p>
        <p>
            <label>Fecha de nacimiento:</label>
            <input type="date" name="fecha">
        </p>
        <p>
            <label>Domicilio:</label>
            <input type="text" name="domicilio" placeholder="Ingresá tu domicilio">
        </p>
        <p>
            <label type="text">Perfil del usuario:</label>
        </p> 
        <p>
            <label><input type="radio" name="perfil" value="Comprador">Comprador</label>
            <label><input type="radio" name="perfil" value="Vendedor">Vendedor</label>
        </p>
        <p>
        <label type="text">Intereses:</label>
        </p>
        <p>
            <label><input type="checkbox" name="intereses" value="Electro">Electro</label>
        </p>
         <p>
            <label><input type="checkbox" name="intereses" value="Moda">Moda</label>
        </p>
        <p>
            <label><input type="checkbox" name="intereses" value="Hogar">Hogar</label>
        </p>
        <p>
            <label><input type="checkbox" name="intereses" value="Jugueteria">Jugueteria</label>
        </p>
        <p>
            <label><input type="checkbox" name="intereses" value="Vida sana">Vida sana</label>
        </p>
        <p>
            <label>Foto de usuario:</label>
            <input type="file" name="foto" accept=".jpg" multiple/>
        </p>
        <p>
            <label>Contraseña:</label>
            <input type="password" name="contrasena"/>
        </p>
        <p>
            <label>Repetir contraseña:</label>
            <input type="password" name="contrasena"/>
        </p>
        <p>
            <button type="submit">Enviar</button>
        </p>
        <p>
            <button type="reset">Cancelar</button>
        </p>
        </form>

    </main>
    <footer>
        <div>
        <i class="fa-solid fa-credit-card"></i>
        <p class="negrita">Pagá con tarjeta o en efectivo</p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <i class="fa-solid fa-gift"></i>
        <p class="negrita">Envío gratis desde $ 2.500</p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <i class="fa-solid fa-user-shield"></i>
        <p class="negrita">Seguridad, de principio a fin</p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>