<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
<body>
  <%- include ('./partials/header') %>
    <main class="Register">
      <img class="imgLogo2" src="images/img-home-banner.jpg" />
        <form action="/">
          <p>
            <label>Nombre y Apellido:</label>
            <input type="text" name="nombre" placeholder="Ingresá tu nombre y apellido" required>
          </p>
          <p>
            <label>Nombre de usuario:</label>
            <input type="text" name="usuario" placeholder="Ingresá tu id de usuario" required>
          </p>
          <p>
            <label>E-mail:</label>
            <input type="email" name="email" placeholder="Ingresá tu E-mail" required>
          </p>
          <p>
            <label>Fecha de nacimiento:</label>
            <input type="date" name="fecha" required>
          </p>
          <p>
            <label>Domicilio:</label>
            <input type="text" name="domicilio" placeholder="Ingresá tu domicilio" required>
          </p>
          <p>
            <label type="text">Perfil del usuario:</label>
          </p> 
          <p>
            <label><input type="radio" name="perfil" value="Comprador">Comprador</label>
            <label><input type="radio" name="perfil" value="Vendedor">Vendedor</label>
          </p>
          <p>
            <label type="text">Intereses:</label>
          </p>
          <p>
            <label><input type="checkbox" name="intereses" value="Electro">Electro</label>
          </p>
          <p>
            <label><input type="checkbox" name="intereses" value="Moda">Moda</label>
          </p>
          <p>
            <label><input type="checkbox" name="intereses" value="Hogar">Hogar</label>
          </p>
          <p>
            <label><input type="checkbox" name="intereses" value="Jugueteria">Jugueteria</label>
          </p>
          <p>
            <label><input type="checkbox" name="intereses" value="Vida sana">Vida sana</label>
          </p>
          <p>
            <label>Foto de usuario:</label>
            <input type="file" name="foto" accept=".jpg" multiple/>
          </p>
          <p>
            <label>Contraseña:</label>
            <input type="password" name="contrasena" required/>
          </p>
          <p>
            <label>Repetir contraseña:</label>
            <input type="password" name="contrasena" required/>
          </p>
          <p>
            <button type="submit">Enviar</button>
          </p>
          <p>
            <button type="reset">Cancelar</button>
          </p>
        </form>
    </main>
    <%- include ('./partials/footer') %>
    <footer>
        <div>
          <i class="fa-solid fa-credit-card"></i>
          <p class="negrita">Pagá con tarjeta o en efectivo</p>
          <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
        <div>
          <i class="fa-solid fa-gift"></i>
          <p class="negrita">Envío gratis desde $ 2.500</p>
          <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
          <i class="fa-solid fa-user-shield"></i>
          <p class="negrita">Seguridad, de principio a fin</p>
          <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
          <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>