*{
    box-sizing: border-box;
}

/*-------------------------------------------------HEADER-------------------------------------------*/

header {
    background-color:#EAC926;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


.EncabezadoHeader{
    display: flex;
    flex-wrap: wrap;
    
}

.imgLogoEncabezado{
    width: 50%;
    height: 30%;
    margin: auto;
    padding: 15px 15px 15px 15px;
    animation:imgLogoEncabezadoLate 1s linear infinite alternate ;
}
@keyframes imgLogoEncabezadoLate {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
  
}






.buscadoConLupa{
    width: 50%;
    
    padding: 15px 15px 15px 15px;
}
input.buscador{
   
    width: 85%;
    height: 30px;
}
.fa-magnifying-glass{
    background-color: white;
    
    color: grey;
   
    border-radius: 10%;
    border-style:solid;
    border-color:grey;
    border-width: 1px;
}
.CompraEnCuotas {
    margin-left: 12vw;
    font-size: small;
    margin-bottom: 30px;
}

/*-------------------------------------------------BANNER------------------------------------------------*/
.imgLogo2{
    width: 100%;
}




/*--------------------------------------------------NAVBAR---------------------------------------------------*/

body{
    font-family: "Roboto";
    background-color: #ebebeb;
}



ul {
    list-style: none;
    padding-left: 5px;
}
a{
    text-decoration: none;
    color: black;
}
#menuBurger{
    text-align: center;
    font-size:x-large;
    margin-bottom: 20px;
}

.Burger{
    background-color: #03264C;;
    color: white;
    background-size:cover;
    border-style: solid;
    border-color: #03264C;;
    border-radius: 20%;
    padding-left: 5px;
    padding-right: 5px;
   
    
}
p.precios{
    font-size: 18px;
}
p.Descuentos{
    font-size: 16px;
    color: green;
   
    
}

.AplicarFlexBox{
    display: flex;
    align-items: flex-end;
}
.AplicarFlexBox .precios{
    flex-grow: 0.3;
    
    
}
.AplicarFlexBox .Descuentos{
    flex-grow: 0.7;
    text-align: left;
}



p.Descripciones{
    font-size: 16px;
    font-weight: bold;
}
h3{
    font-size: 23px;
    text-align: center;
}


p{
    font-size: 12px;
}









/*
.imgLogo{
    width: 44vw;
    
    padding: 15px 15px 15px 15px;
    flex-grow: 0.5;
}

.BuscadorConLupa{
    flex-grow: 0.5;
    display: flex;
    padding: 15px 15px 15px 15px;
    
}

input.buscador{
    /*margin-left: 15px;
    display: inline;
    flex-grow: 0.5;
    width: 100%;
    
}

i#iconBuscar{
    background-color: white;
    margin-left: 0px;
    color: black;
    margin-top: 2px;
    border-radius: 10%;
    border-style:solid;
    border-color:grey;
    border-width: 1px;
margin-left: 20px;
}
*/

footer{
    text-align: center;
}
footer i{
    color: blue;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 30px;
}

footer p{
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 5px;
    margin-top: 5px;
}
footer p.negrita{
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 3px;
}
footer p.copyright{
   
    margin-top: 30px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}


.fa-truck{
    color: #39b54a;
    display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: relative;
left: 100px;
top: -15px;


}


main{
    
    width:90vw;
    background-color: #ebebeb;
    margin: auto;
    margin-top: 161px;
}

section{
    text-justify: auto;
}
.producto img{
    width:70vw;
}

.producto{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    transition:all 0,5s;
    padding: 15px;
    text-align: center;
}
.producto:hover{
        box-shadow: 0px 0px 15px rgb(100, 100, 100);
        
}
.producto:hover .fa-truck{
    transform: rotate(-90deg);
}

.Descripciones{
    display: none;
}
.producto:hover .Descripciones{
    display: block;
}

.fa-credit-card{
    transition: color  0,5s ;
}

.fa-credit-card:hover{
    color: #39b54a;
}

.fa-gift{
    transition: color  0,5s ;
}

.fa-gift:hover{
    color: #39b54a;
}
.fa--user-shield{
    transition: color  0,5s ;
}

.fa-user-shield:hover{
    color: #39b54a;
}





/*HTML login*/
.ButtonLogin{
transition: background-color color 450ms;

}


.ButtonLogin:hover{
    background-color: #0022AA;
    color: white;
    border-radius: 5px;
    border-color: #0022AA;
}






.textoDeProducto{
    border-top: 1px solid #ebebeb;
    
}



nav.QuitarListas ul{
    display: none;
}

footer{
    display: flex;
    justify-content: space-between;
}

.Login{
   
    text-align: center;
    margin: 50px;
}
.Login p{
    margin: 20px;
}
.Register{
    text-align: center;
    margin: 50px;
    
}
.Register p{
    margin: 20px;
}




@media (min-width:768px){/*Configuracion para tablets*/
    
    
   
    .EncabezadoHeader{
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
   .CompraEnCuotas{
        margin: auto;
        font-size: medium;
   }
   .imgLogoEncabezado{
    width: 40%;
    margin-right: 20px;
    margin-left: 20px;
}
.buscadoConLupa{
    width: auto;
    align-items: center;
    text-align: center;
    display: flex;
}
input.buscador{
   margin-right: 7px;
}
nav.QuitarListas {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
nav.QuitarListas ul{
    display: flex;
    justify-content:center;
    padding:6px;
    margin-left: 20px;
    margin-right: 20px;
    
}
nav.QuitarListas ul li{
    margin: 0 10px;
    
}


#menuBurger{
    display: none;
}
.EncabezadoProductos{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.producto {
    flex-basis: 360px;
}
.producto img{
    width: 40%;
}
.EncabezadoProductos h3{
    
    display: block;
    flex-basis: 100%;
    text-align: left;
    margin: 20px;
    color:dimgrey;
}

}

@media (min-width:1024px){/*Configuracion para descktop*/
    .producto {
        flex-basis: 22%;
    }
   
    
}


